<div class="about-us">
    <div class="container">
        <h1>About Our App</h1>
        <p>Welcome to <strong>MKV Player</strong>, your go-to web app for seamless video playback! Designed with
            versatility and user convenience in mind, our app lets you effortlessly enjoy your favorite video content by
            choosing from a variety of supported file formats.</p>

        <h2>Key Features</h2>
        <ul>
            <li><strong>Multi-Format Support:</strong> Play videos in popular formats like MP4, MKV, MOV, and more
                without needing additional plugins or software.</li>
            <li><strong>Multiple Audio Stream Playback:</strong> Switch between different audio tracks to enjoy your
                videos in the language or style of your choice.</li>
            <li><strong>User-Friendly Interface:</strong> Simple, intuitive controls to provide a hassle-free viewing
                experience.</li>
            <li><strong>Customizable playback settings:</strong> Adjust the playback speed of videos to suit your learning styles, 
                comprehension levels, and time constraints.</li>
            <li><strong>Cross-Platform Compatibility:</strong> Access the app on any modern browser, ensuring smooth
                playback on desktops, laptops, tablets, and smartphones.</li>
        </ul>

        <h2>Future Enhancements</h2>
        <p>We’re always working to improve. In the future, we aim to add:</p>
        <ul>
            <li>Subtitle support for enhanced accessibility.</li>
            <li>A playlist feature for continuous video playback.</li>
            <li>Support for even more video and audio formats.</li>
        </ul>
        <p>Want to contribute ? Find the project on <a href="https://github.com/nbisht11/mkv-player" target="_blank">github</a></p>

        <p>Thank you for choosing <strong>MKV Player</strong>.</p>
    </div>
</div>