.dropzone-container {
    margin-top: 80px;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;

    .dropzone-element {
        width: 600px;
        height: 100%;
        border: 2px dashed #1b1919;
        border-radius: 5px;
        padding: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .upload-icon{
            width: 80px;
            height: 80px;
        }

        .dz-message {
            color: #1b1919;
            font-size: 16px;
        }
    }
}

.video-js-container {
    height: 600px;
    display: flex;
    justify-content: left;
    flex-direction: column;
    margin-top: 20px;
    .video-js-item{
        width: 900px;
        margin-left: 40px;
    }

    .file-name{
        margin-top: 20px;
        margin-left: 40px;
        font-size: 20px;
    }
}

.loader-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 9999;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .loader-message {
        margin-top: 20px;
        color: white;
        font-size: 18px;
        text-align: center;
      }

    .loading-spinner {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        border: 4px solid rgba(255, 255, 255, 0.3);
        border-top: 4px solid white;
        animation: spin 1s linear infinite;
    }
}

@keyframes spin {
    to { transform: rotate(360deg); }
} 